* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display:block;
    text-align: justify;
    background-image: linear-gradient(to right, #1a0014 , #50b6ba);
}

.head {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Nova Slim';
}

.header_options {
    display: flex;
    position: fixed;
    width: fit-content;
    height: fit-content;
    border: 2px solid #4FD9E6;
    border-radius: 0 0 50px 50px;
    background-color: #150924;
    justify-content: space-between;
}

.options_page {
    margin: 10px 15px;
}

.options_page > li {
    margin: 0 25px;
    display: inline-block;
}

.options_page > li > a {
    color: #298894;
}

.options_page > li > a:hover {
    color: #4FD9E6;
}

.secundary_options {
    display: none;
    position: fixed;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid #4FD9E6;
    border-radius: 0 25px 0 25px;
    background-color: #150924;
}

.secundary_options > li > a {
    display: flex;
    margin: 5px 0;
    font-size: 20px;
    color:#298894;
    font-family: "Caveat";
}

.secundary_options > li > a:hover {
    color: #4FD9E6;
}

.panel {
    left: 5px;
    width: 55px;
    height: 55px;
    z-index: 200;
    position: fixed;
    border-radius: 100%;
    top: calc(50% - 205px);
    border: 2px solid #4FD9E6;
    background-color: #150924;
}

.icon__menu {
    width: 100%;
    display: flex;
    height: 100%;
    cursor: pointer;
    font-size: 35px;
    position: relative;
    color: #298894;
    align-items: center;
    justify-content: center;
}

.icon__menu:hover {
    color: #4FD9E6;
}

.menu__side {
    top: 50%;
    width: 75px;
    bottom: 50%;
    height: 270px;
    position: fixed;
    margin: auto 0;
    overflow: hidden;
    color: #FFE2A2;
    background: #150924;
    border: 2px solid #4FD9E6;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.name__page {
    display: flex;
    position: relative;
    margin-top: 15px;
    height: fit-content;
    align-items: center;
    padding-right: 15px;
    background-color: #4C55C5;
}

.name__page img {
    margin-left: 5px;
}

.name__page h4 {
    display: flex;
    height: 64px;
    position: relative;
    margin-left: 5px;
    font-weight: 100;
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Protest Revolution';
}

.options__menu {
    margin-left: 25px;
}

.options__menu a {
    color: #298894;
    font-family: 'Julee';
}

.options__menu a:hover {
    font-size: 20px;
    color: #4fd9e6;
    font-family: "Teko";
    text-transform: uppercase;
}

.options__menu .option {
    display: flex;
    margin-top: 35px;
}

.options__menu .option i {
    width: 5px;
    margin-right: 40px;
}

.options__menu .option h4 {
    font-weight: 300;
    white-space: nowrap;
}

a.selected {
    position: relative;
    color: #4C55C5;
}

.selected:before {
    top: 5px;
    right: 15px;
    width: 2px;
    content: "";
    height: 35px;
    position: absolute;
    background: #4C55C5;
}

.selected:hover::before {
    background: #4fd9e6;
 }

.menu__side_move {
    width: 230px;
    border-radius: 0 25px 25px 0;
}

main {
    margin: 70px 30px 70px 90px;
    padding: 30px 50px 20px 50px;
}

h1 {
    margin: 5px 0 25px 0;
}

.footer_page {
    bottom: 0;
    display: flex;
    position: relative;
    justify-content: center;
}

.footer_body {
    bottom: 0;
    display: flex;
    position: fixed;
    padding: 10px;
    color: #298894;
    height: fit-content;
    max-width: fit-content;
    border: 2px solid #4fd9e6;
    border-radius: 50px 50px 0 0;
    background-color: #150924;
}

.footer_body .footer_icon {
    padding: 0;
    display: flex;
    margin: 0 15px;
    list-style-type: none;
    justify-content: center;
}

.footer_body li {
    padding: 0 5px;
}

.footer_body ul a {
    color: inherit;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
}

.footer_body ul a:hover {
    color: #4fd9e6;
}

.footer_body .social {
    display: flex;
    text-align: center;
    line-height: 30px;
    margin-left: 15px;
}

.footer_body .social > a {
    width: 35px;
    height: 35px;
    color: inherit;
    margin: 0 5px;
    font-size: 20px;
    border-radius: 50px;
    border: 2px solid #298894;
}

.footer_body .social > a:hover {
    color: #4FD9E6;
    border-color: #4FD9E6;
}

.copyright {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #298894;
    text-transform: uppercase;
    font-family: 'Dancing Script';
}

.footer_two_elements {
    margin-right: 10px;
}

@media (max-width: 1000px) {
    .header_options {
        display: contents;
        position: absolute;
    }
    .options_page {
        margin: 0;
    }
    .options_page > li {
        margin: 10px;
    }
    .panel {
        left: 0;
        top: 5px;
        width: 50px;
        height: 50px;
        border-radius: 0 25px 25px 0;
        background-color: #1a0014;
    }
    .menu_location {
        position: fixed;
    }
    .icon__menu {
        font-size: 40px;
    }
    .menu__side {
        top: 25px;
        width: 55px;
        height: 240px;
        position: relative;
        border-radius: 0 25px 25px 0;
    }
    .name__page {
        height: 50px;
    }
    .name__page img {
        width: 50px;
        height: 50px;
        margin-left: 0;
        margin-right: 10px;
    }
    .options__menu {
        margin-left: 15px;
    }    
    .options__menu .option {
        margin-top: 25px;
    }
    .options__menu .option i {
        margin-right: 50px;
    }
    .selected:before {
        right: 5px;
        width: 2px;
    }
    .menu__side_move {
        width: 55px;
        display: none;
    }
    main {
        padding: 15px;
        margin: 20px 15px 100px 15px;
    }
    h1 {
        margin: 5px;
    }
    .footer_body {
        bottom: 0;
        padding: 0;
        position: absolute;
        align-items: center;
        flex-direction: column;
    }
    .footer_body .footer_icon {
        display: flex;
        margin: 5px 0;
    }
    .footer_body li {
        padding: 0 5px;
    }
    .footer_body .social {
        line-height: 30px;
    }
    .footer_body .social > a {
        margin: 5px;
    }
    .footer_two_elements {
        margin-right: 0px;
    }
}
